/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

/* Variables */

$primaryColor: #0D7A6E;
$primaryColorDark: #0a574e;
$secondaryColor: #24285B;
$bgColor: #E9E9E9;
$fontColor: #121616;


/* ---------------------------- Whole document ---------------------------- */
* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* ---------------------------- Home ---------------------------- */

.home {
    color: $fontColor;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    &__mainHeading {
        text-align: center;
        font-size: clamp(1.5rem, 15vw, 2rem);
        font-weight: 800;
        margin-top: 6rem;
        margin-bottom: 0;
    }

    &__subHeading {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: clamp(0.75rem, 10vw, 1.15rem);
        margin-top: 0.75rem;
    }

    &__button {
        display: block;
        font-family: Roboto;
        font-size: clamp(0.5rem, 5vw, 1rem);
        margin: 0 auto;
        background-color: $primaryColor;
        border-radius: 5px;
        padding: 15px;
        color: #FFFFFF;
        font-weight: 900;
        margin-top: 2rem;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $primaryColorDark;
        }
    }

    &__image {
        width: 400px;
        height: 300px;
        margin: 4rem auto 0 auto;
        display: block;
    }
}

/* ---------------------------- Home Header ---------------------------- */

.homeHeader {
    width: 100vw;
    height: 4rem;
    box-sizing: border-box;

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        padding: 0 2rem;
    }

    &__title {
        font-weight: 800;
        color: $secondaryColor;
        font-size: clamp(1rem, 10vw, 1.15rem);
    }

    &__menu, &__close {
        color: $secondaryColor;
        cursor: pointer;
    }

    &__nav {
        display: none;
        position: relative;
        height: auto;
        width: inherit;
    }

    &__login, &__signup {
        color: $primaryColor;
        font-size: 1rem;
        padding: 0.75rem 2rem;
        width: inherit;
        text-align: start;
        border: none;
        background-color: transparent;
        display: block;
        border-left: 5px solid $primaryColor;

        &:hover {
            background-color: $bgColor;
            cursor: pointer;
        }

    }
}

/* ---------------------------- Login ---------------------------- */

.login {
    background-color: $bgColor;
    height: 100vh;

    &__header {
        padding: 1rem;
        font-size: clamp(1.25rem, 15vw, 1.5rem);
    }

    &__container {
        margin-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__title {
        color: $secondaryColor;
        text-align: center;
        font-size: clamp(1rem, 10vw, 1.75rem);
        margin: 2rem 0 2rem 0;
    }

    &__formGroup {
       margin: 3rem 1rem 3rem 1rem;
    }

    &__formLabel, &__formInput {
        display: block;
        width: 100%;
    }

    &__formLabel {
        font-weight: 800;
        margin-bottom: 0.75rem;
        font-size: clamp(1rem, 10vw, 1rem);
    }

    &__formInput {
        border: none;
        height: 2rem;
        padding: 5px;

        &:focus {
            border-bottom: 2px solid $primaryColor;
        }
    }

    &__button {
        @extend .home__button;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        width: 100%;
    }

    &__signup {
        text-align: center;
    }

    &__link {
        text-decoration: none;
        color: $secondaryColor;
        font-weight: 600;
    }
}


