/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
/* Variables */
/* ---------------------------- Whole document ---------------------------- */
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* ---------------------------- Home ---------------------------- */
.home {
  color: #121616;
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home__mainHeading {
  text-align: center;
  font-size: clamp(1.5rem, 15vw, 2rem);
  font-weight: 800;
  margin-top: 6rem;
  margin-bottom: 0;
}

.home__subHeading {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: clamp(0.75rem, 10vw, 1.15rem);
  margin-top: 0.75rem;
}

.home__button, .login__button, .signUp__button {
  display: block;
  font-family: Roboto;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin: 0 auto;
  background-color: #0D7A6E;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-weight: 900;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
}

.home__button:hover, .login__button:hover, .signUp__button:hover {
  background-color: #0a574e;
}

.home__image {
  width: 400px;
  height: 300px;
  margin: 4rem auto 0 auto;
  display: block;
}

/* ---------------------------- Home Header ---------------------------- */
.homeHeader {
  width: 100vw;
  height: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.homeHeader__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 0 2rem;
}

.homeHeader__title {
  font-weight: 800;
  color: #24285B;
  font-size: clamp(1rem, 10vw, 1.15rem);
}

.homeHeader__menu, .homeHeader__close {
  color: #24285B;
  cursor: pointer;
}

.homeHeader__nav {
  display: none;
  position: relative;
  height: auto;
  width: inherit;
}

.homeHeader__login, .homeHeader__signup {
  color: #0D7A6E;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  width: inherit;
  text-align: start;
  border: none;
  background-color: transparent;
  display: block;
  border-left: 5px solid #0D7A6E;
}

.homeHeader__login:hover, .homeHeader__signup:hover {
  background-color: #E9E9E9;
  cursor: pointer;
}

/* ---------------------------- Login ---------------------------- */
.login, .signUp {
  background-color: #E9E9E9;
  height: 100vh;
}

.login__header, .signUp__header {
  padding: 1rem;
  font-size: clamp(1.25rem, 15vw, 1.5rem);
}

.login__container, .signUp__container {
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.login__title, .signUp__title {
  color: #24285B;
  text-align: center;
  font-size: clamp(1rem, 10vw, 1.75rem);
  margin: 2rem 0 2rem 0;
}

.login__formGroup, .signUp__formGroup {
  margin: 3rem 1rem 3rem 1rem;
}

.login__formLabel, .signUp__formLabel, .login__formInput, .signUp__formInput {
  display: block;
  width: 100%;
}

.login__formLabel, .signUp__formLabel {
  font-weight: 800;
  margin-bottom: 0.75rem;
  font-size: clamp(1rem, 10vw, 1rem);
}

.login__formInput, .signUp__formInput {
  border: none;
  height: 2rem;
  padding: 5px;
}

.login__formInput:focus, .signUp__formInput:focus {
  border-bottom: 2px solid #0D7A6E;
  outline: none;
}

.login__button, .signUp__button {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.login__signup {
  text-align: center;
}

.login__link, .signUp__link {
  text-decoration: none;
  color: #24285B;
  font-weight: 600;
}

/* ---------------------------- Sign Up ---------------------------- */
.signUp__login {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */