/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

/* Variables */

$primaryColor: #0D7A6E;
$primaryColorDark: #0a574e;
$secondaryColor: #24285B;
$bgColor: #E9E9E9;
$fontColor: #121616;

/* ---------------------------- Home ---------------------------- */

.home {
    font-family: 'Montserrat';
    color: $fontColor;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    &__mainHeading {
        text-align: center;
        font-size: clamp(1.5rem, 15vw, 2rem);
        font-weight: 800;
        margin-top: 6rem;
        margin-bottom: 0;
    }

    &__subHeading {
        display: block;
        text-align: center;
        font-weight: 400;
        font-size: clamp(0.75rem, 10vw, 1.15rem);
        margin-top: 0.75rem;
    }

    &__button {
        display: block;
        font-family: Roboto;
        margin: 0 auto;
        background-color: $primaryColor;
        border-radius: 5px;
        padding: 15px;
        color: #FFFFFF;
        font-weight: 900;
        margin-top: 2rem;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $primaryColorDark;
        }
    }

    &__image {
        width: 400px;
        height: 300px;
        margin: 4rem auto 0 auto;
        display: block;
    }
}

/* ---------------------------- Home Header ---------------------------- */

.homeHeader {
    width: 100vw;
    height: 4rem;
    box-sizing: border-box;

    &__section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
        padding: 0 2rem;
    }

    &__title {
        font-weight: 800;
        color: $secondaryColor;
        font-size: clamp(1rem, 10vw, 1.15rem);
    }

    &__menu, &__close {
        color: $secondaryColor;
        cursor: pointer;
    }

    &__nav {
        display: none;
        position: relative;
        height: auto;
        width: inherit;
    }

    &__login, &__signup {
        color: $primaryColor;
        font-size: 1rem;
        padding: 0.75rem 2rem;
        width: inherit;
        text-align: start;
        border: none;
        background-color: transparent;
        display: block;
        border-left: 5px solid $primaryColor;

        &:hover {
            background-color: $bgColor;
            cursor: pointer;
        }

    }
}


