/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
/* Variables */
/* Mixins */
/* ---------------------------- Whole document ---------------------------- */
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* ---------------------------- Home ---------------------------- */
.home {
  color: #121616;
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 786px) {
  .home__section {
    grid-area: section;
    margin-left: 2rem;
  }
}

.home__mainHeading {
  text-align: center;
  font-size: clamp(2.25rem, 6vw, 3rem);
  font-weight: 800;
  margin-top: 6rem;
  margin-bottom: 0;
}

@media (min-width: 786px) {
  .home__mainHeading {
    text-align: left;
  }
}

.home__subHeading {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-top: 0.75rem;
}

@media (min-width: 786px) {
  .home__subHeading {
    text-align: left;
  }
}

.home__button, .login__button, .signUp__button, .taskList__add {
  display: block;
  font-family: Roboto;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin: 0 auto;
  background-color: #0D7A6E;
  border-radius: 5px;
  padding: calc(min(5vw, 20px));
  color: #FFFFFF;
  font-weight: 900;
  margin-top: 2rem;
  height: 3.25rem;
  border: none;
  cursor: pointer;
  height: auto;
}

.home__button:hover, .login__button:hover, .signUp__button:hover, .taskList__add:hover {
  background-color: #0a574e;
}

@media (min-width: 786px) {
  .home__button, .login__button, .signUp__button, .taskList__add {
    margin-left: 0;
    margin-right: 0;
  }
}

.home__image {
  width: 400px;
  height: 300px;
  margin: 4rem auto 0 auto;
  display: block;
}

@media (min-width: 786px) {
  .home__image {
    grid-area: image;
    width: 600px;
    height: 450px;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .home__image {
    width: 700px;
    height: 525px;
  }
}

@media (min-width: 786px) {
  .home {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr (4fr)[2] 1fr;
        grid-template-columns: 1fr repeat(2, 4fr) 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "header header header header" ". section image .";
  }
}

/* ---------------------------- Home Header ---------------------------- */
.homeHeader, .taskHeader {
  width: 100vw;
  height: 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 786px) {
  .homeHeader, .taskHeader {
    grid-area: header;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5.5rem;
  }
}

.homeHeader__section, .taskHeader__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  padding: 0 2rem;
}

@media (min-width: 786px) {
  .homeHeader__section, .taskHeader__section {
    grid-area: header;
  }
}

.homeHeader__title, .taskHeader__title {
  font-weight: 800;
  color: #24285B;
  font-size: clamp(1rem, 10vw, 1.8rem);
  margin-right: 1rem;
}

.homeHeader__menu, .taskHeader__exit, .homeHeader__close {
  color: #24285B;
  cursor: pointer;
  margin-left: 1rem;
}

@media (min-width: 786px) {
  .homeHeader__menu, .taskHeader__exit, .homeHeader__close {
    display: none !important;
  }
}

.homeHeader__nav {
  display: none;
  position: relative;
  height: auto;
  width: inherit;
}

@media (min-width: 786px) {
  .homeHeader__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
}

.homeHeader__login, .homeHeader__signup {
  color: #0D7A6E;
  font-size: clamp(1rem, 3vw, 1.2rem);
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  width: inherit;
  text-align: start;
  border: none;
  background-color: #e9e9e9;
  display: block;
  border-left: 5px solid #0D7A6E;
}

.homeHeader__login:hover, .homeHeader__signup:hover {
  background-color: #c5c4c4;
  cursor: pointer;
}

@media (min-width: 786px) {
  .homeHeader__login:hover, .homeHeader__signup:hover {
    background-color: transparent;
  }
}

@media (min-width: 786px) {
  .homeHeader__login, .homeHeader__signup {
    background-color: none;
    border: none;
    font-weight: 800;
    background-color: transparent;
  }
}

/* ---------------------------- Login ---------------------------- */
@media (min-width: 786px) {
  .login, .signUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.login__section, .signUp__section {
  background-color: #e9e9e9;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 786px) {
  .login__section, .signUp__section {
    width: calc(min(60%, 550px));
    padding: 2rem 0;
  }
}

.login__header, .signUp__header {
  padding: 1rem;
  font-size: clamp(1.25rem, 15vw, 1.5rem);
}

.login__container, .signUp__container {
  margin-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.login__title, .signUp__title {
  color: #24285B;
  text-align: center;
  font-size: clamp(1rem, 10vw, 1.75rem);
  margin: 2rem 0 2rem 0;
}

.login__formGroup, .signUp__formGroup {
  margin: 3rem 1rem 3rem 1rem;
}

.login__formLabel, .signUp__formLabel, .login__formInput, .signUp__formInput {
  display: block;
  width: 100%;
}

.login__formLabel, .signUp__formLabel {
  font-weight: 800;
  margin-bottom: 0.75rem;
  font-size: clamp(1rem, 10vw, 1rem);
}

.login__formLabel--required::after, .signUp__formLabel--required::after {
  content: '*';
  color: #df2323;
  position: relative;
  top: -3px;
  left: 3px;
}

.login__formInput, .signUp__formInput {
  border: none;
  height: 2rem;
  padding: 5px;
}

.login__formInput:focus, .signUp__formInput:focus {
  border-bottom: 2px solid #0D7A6E;
  outline: none;
}

.login__formInput:focus:required, .signUp__formInput:focus:required {
  border: none;
}

.login__button, .signUp__button {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  width: 100%;
}

.login__signup {
  text-align: center;
}

.login__link, .signUp__link {
  text-decoration: none;
  color: #24285B;
  font-weight: 600;
}

/* ---------------------------- Sign Up ---------------------------- */
.signUp__login {
  text-align: center;
}

/* ---------------------------- Task Header ---------------------------- */
.taskHeader {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

@media (min-width: 786px) {
  .taskHeader__section {
    width: 100%;
  }
}

@media (min-width: 786px) {
  .taskHeader__title {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
}

@media (min-width: 1200px) {
  .taskHeader__title {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }
}

.taskHeader__name {
  font-weight: 400;
  color: #0D7A6E;
  font-size: clamp(1rem, 4vw, 1.25rem);
  margin: auto 1rem auto 0;
}

@media (min-width: 786px) {
  .taskHeader__name {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
}

@media (min-width: 1200px) {
  .taskHeader__name {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
  }
}

.taskHeader__exit {
  display: inline-block !important;
}

@media (min-width: 786px) {
  .taskHeader__exit {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
}

@media (min-width: 1200px) {
  .taskHeader__exit {
    -webkit-box-flex: 0.1;
        -ms-flex: 0.1;
            flex: 0.1;
  }
}

/* ---------------------------- Task Section ---------------------------- */
.taskList__section {
  padding: 1rem 2.5rem;
  margin-top: 1rem;
}

@media (min-width: 786px) {
  .taskList__section {
    width: calc(min(60%, 800px));
    margin-left: auto;
    margin-right: auto;
  }
}

.taskList__title {
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.taskList__addTaskSection {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.taskList__taskInput {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 0.5rem;
  padding: 10px;
  outline: none;
}

.taskList__add {
  margin-top: 0;
  padding: 15px 25px;
}

.taskList__list {
  list-style: none;
  margin-top: 1.5rem;
  padding: 0;
}

.taskList__list--pending .taskList__todoItem {
  background-color: rgba(67, 190, 177, 0.31);
}

.taskList__list--completed .taskList__todoItem {
  background-color: rgba(45, 48, 71, 0.26);
}

.taskList__list--completed .taskList__todoLabel {
  text-decoration: line-through;
}

.taskList__todoItem {
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.taskList__todoItem label:focus {
  border-bottom: 1px solid #555;
  outline: none;
}

.taskList__fallback {
  font-size: clamp(1.1rem, 4vw, 1.5rem);
}

.taskList__todoLabel {
  margin: auto 15px;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
}

.taskList__checkbox {
  cursor: pointer;
}

.taskList__edit, .taskList__save, .taskList__delete {
  -webkit-box-flex: 0.1;
      -ms-flex: 0.1;
          flex: 0.1;
  margin: auto 0;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */