/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Variables */

$primaryColor: #0D7A6E;
$secondaryColor: #24285B;
$bgColor: #E9E9E9;
